<div class="seller-auth">
  <div *ngIf="!showLogin" class="signup">
    <h1>Seller signup</h1>
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="signup(sellerSignUp.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel
        name="name"
        placeholder="Enter Name"
      />
      <input
        class="form-input"
        type="password"
        ngModel
        name="password"
        placeholder="Enter password"
      />
      <input
        class="form-input"
        type="text"
        ngModel
        name="email"
        placeholder="Enter Email"
      />
      <button class="form-btn">signUp</button>
      <a class="auth-toggle-link" (click)="openLogin()"
        >Already Have Account Click To login</a
      >
    </form>
  </div>
  <!-- login area -->
  <div *ngIf="showLogin" class="login">
    <h1>Seller login</h1>
    <p class="error-p">{{ authError }}</p>
    <form
      #sellerLogin="ngForm"
      (ngSubmit)="login(sellerLogin.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel
        name="email"
        placeholder="Enter Email"
      />
      <input
        class="form-input"
        type="password"
        ngModel
        name="password"
        placeholder="Enter password"
      />

      <button class="form-btn">login</button>
      <a class="auth-toggle-link" (click)="openSignUp()"
        >Don't Have Account? Click To sign-Up
      </a>
    </form>
  </div>
</div>
